body
{
	background-image: url('NYC_Skyline.jpg');
	background-attachment:fixed;
	background-repeat: no-repeat;
  	background-position: center;
  	background-size: cover;
  	position: absolute;
  	top:0px;
  	left:0px;
  	width: 100%;
  	height: 100%;
}

#main
{
    backdrop-filter: blur(5px) brightness(50%);
}

#logo
{
	width: 12vw;
	margin-top: -2%;
}

#logo:hover {
   	filter: drop-shadow(4px 1px 10px #ff8000);
   	transition: ease-in 0.4s;
}

#detail_label
{
	text-align: left;
    font-size: 1.2em;
    color: white;
    font-family: unset;
    font-weight: lighter;
}

#gender_options
{
	display: flex;
	color: white;
}

#detail_block
{
	width: 20%;
	margin-left: 1%;
	margin-right: 1%;
}

#name_block, #contact_block, #metrics_block, #address_block, #personal_block, #region_block
{
	display: flex;
	margin-bottom: 2%;
}

.form-control
{
	background-color: #ffffff1f;
	border: none;
	color: wheat;
}

.form-check-label
{
	color: white;
}
/*Fullscreen*/
@media (max-width: 40rem)
{
	#popper
	{
		transition: 0.1s;
		width: 100vw;
    	min-width: fit-content;
    	height: 100vh;
    	background-color: yellow;
    	text-align: center;
	}
}


/*Medium*/
@media (min-width: 40rem)
{
	#popper
	{
		transition: 0.1s;
		width: 80vw;
    	min-width: fit-content;
    	min-height: 80vh;
    	background-color: black;
    	margin-top: 10vh;
    	text-align: center;
	}

	#name_block, #contact_block, #metrics_block, #address_block, #personal_block, #region_block
	{
		display: flex;
		margin-bottom: 2%;
	}

	#detail_block
	{
		transition: 0.2s;
		width: 30%;
		margin-left: 1%;
		margin-right: 1%;
		
	}

}

/*Wide*/
@media (min-width: 60rem)
{
	#popper
	{
		transition: 0.1s;
		width: 80vw;
    	min-width: fit-content;
    	min-height: : 80vh;
    	background-color: black;
    	margin-top: 10vh;
    	text-align: center;
	}

	#name_block, #contact_block, #address_block, #personal_block
	{
		display: flex;
		justify-content: center;
		margin-bottom: 2%;
	}

	#detail_block
	{
		transition: 0.2s;
		width: 25%;
		margin-left: 2%;
		margin-right: 2%;
	}

	#metrics_block
	{
		display: flex;
		justify-content: center;
		margin-bottom: 2%;
	}

	#detail_block_gender
	{
		width: 33%;
	}

	#detail_block_DOB
	{
		width: 54%;
		margin-left: 8.2%;
		margin-right: 4.3%;
	}

	#detail_block_curaddr
	{
		width: 39.5%;
		margin-right: 4%;
	}

	#detail_block_permaddr
	{
		width: 39.5%;
	}

	#region_block
	{
		margin-top: 0%;
		margin-bottom: 2%;
		margin-left: 6.65%;
		margin-right: 6.65%;
		display: flex;
		justify-content: center;
	}

}

